<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido Despachante</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_sucursales.css') }}">
</head>
<body>

<script>
    {% if band == True %}
  
        alert('El Paquete fue asignado a un Repartidor exitosamente.');
        window.location.href = "{{ url_for('principalDespachante',sucursal_id=sucursal_id) }}";
         
    {% endif %}
    
    {% if band == False %}
   
        alert('Error al registrar el Paquete a Repartidor: {{error}}.');
        window.location.href = "{{ url_for('seleccionar_repartidor', sucursal_id=sucursal_id) }}";        
   
    {% endif %}
    
</script>

<header class="header">
    <div class="container logo-container">
        <a href="#" class="logo"><img src="{{ url_for('static', filename='img/logo.jpg') }}"></a>
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('saludo') }}">Inicio</a></li>
                <li><a href="{{ url_for('despachante_registrar_paquete',sucursal_id=sucursal_id) }}">Registrar paquete</a></li>
                <li><a href="{{ url_for('salidaTransporte',sucursal_id=sucursal_id) }}">Salida de transporte</a></li>
                <li><a href="{{ url_for('seleccionar_transporte', sucursal_id=sucursal_id) }}">Llegada de transporte</a></li>
                <li><a href="{{ url_for('seleccionar_repartidor', sucursal_id=sucursal_id) }}">Asignar paquetes a repartidor</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="section-principal">
    <div class="containerSucursal">
        
        
        <h1>Repartidores de la Sucursal  {{sucursal_id}}</h1>
        <h2>Seleccione el repartidor que transportara los paquetes:</h2>
        <form action="{{ url_for('asignar_repartidor') }}" method="POST">
            
            
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre Repartidor</th>
                        <th>DNI</th>
                    </tr>
                </thead>
                <tbody>
                    {% for repartidor in repartidores %}
                        <tr>
                            <td>
                                <input type="checkbox" name="repartidores" value="{{ repartidores.numero }}">
                            </td>
                            <td>{{ repartidor.nombre }}</td>
                            <td>{{ repartidor.dni }}</td>
                        </tr>
                        <input type="hidden" name="repartidor_id" value="{{ repartidor.id }}">
                    {% endfor %}
                </tbody>
            </table>
                
            <h1>Lista Paquetes</h1>
            <h2>Seleccione los Paquete que asignara al repartidor:</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Numero Envio</th>
                        <th>Direccion Destinatario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paquete in paquetes %}
                        <tr>
                            <td>
                                <input type="checkbox" name="paquetes" value="{{ paquete.numeroenvio }}">
                            </td>
                            <td>{{ paquete.numeroenvio }}</td>
                            <td>{{ paquete.dirdestinatario }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <input type="hidden" name="sucursal_id" value="{{ sucursal_id }}">

            <button type="submit" class="sesion">Asignar Repartidor</button>
        </form>        
            
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2024 LogiPack - Entrega de Paquetes</p>
    </div>
</footer>

</body>
</html>
