<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido Despachante</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_sucursales.css') }}">
</head>
<body>

<script>
    {% if band == True %}
  
        alert('El paquete ha sido registrado exitosamente.');
        window.location.href = "{{ url_for('principalDespachante') }}";

            
    {% endif %}
    
    {% if band == False %}
    
        alert('Error al registrar el paquete: ' + error);
        .cath(error => {
    
        console.error('Error:', error);
    {% endif %}
    
</script>

<header class="header">
    <div class="container logo-container">
        <a href="#" class="logo"><img src="static/img/logo.jpg"></a>
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('saludo') }}">Inicio</a></li>
                <li><a href="{{ url_for('despachante_registrar_paquete') }}">Registrar paquete</a></li>
                <li><a href="{{ url_for('salidaTransporte') }}">Salida de transporte</a></li>
                <li><a href="#">Llegada de transporte</a></li>
                <li><a href="#">Asignar paquetes a repartidor</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="section-principal">
    <div class="containerSucursal">
        
        <h1>Lista Paquetes</h1>
        <h2>Seleccione los paquetes que serán transportados a otra sucursal</h2>
        <form action="{{ url_for('registrar_paquete_transporte') }}" method="POST">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Número Envio</th>
                        <th>Direccion Destinatario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paquete in paquetes %}
                        <tr>
                            <td>
                                <input type="checkbox" name="paquetes" value="{{ paquete.numeroenvio }}">
                            </td>
                            <td>{{ paquete.numeroenvio }}</td>
                            <td>{{ paquete.dirdestinatario }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="sucursal_id" value="{{ sucursal_id }}">
            <button type="submit" class="sesion">Registrar Transporte</button>
        </form>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2024 LogiPack - Entrega de Paquetes</p>
    </div>
</footer>

</body>
</html>
