<!DOCTYPE html>
<html>
<head>
	<title>LogiPack</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/style_principal.css">
	
</head>
<body>

<header class="header">

	<div class="container logo-container">
		<a href="#" class="logo"><img src="static/img/logo.jpg"></a>
		<nav class="menu">
			<ul>
				<li><a href="{{ url_for('saludo') }}">Inicio</a></li>
                <li><a href="{{ url_for('despachante_registrar_paquete') }}">Registrar paquete</a></li>
                <li><a href="{{ url_for('salidaTransporte') }}">Salida de transporte</a></li>
                <li><a href="#">Llegada de transporte</a></li>
                <li><a href="#">Asignar paquetes a repartidor</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
            </ul>
		</nav>
	</div>
</header>


<section class="section-principal">
        <div class="container">
            <h2>Entrega Rápida y Confiable de Paquetes en Todo el País</h2>
            <p>LogiPack es tu solución confiable para enviar y recibir paquetes de manera segura y eficiente.</p>
            <a href="{{ url_for('sucursales') }}" class="sesion">Ver Sucursales</a>
        </div>
    </section>

<footer>
    <div class="container">
        <p>&copy; 2024 LogiPack - Entrega de Paquetes</p>
    </div>
</footer>

</body>
</html>